@import "../../styles/mixins";
@import "../../styles/theme";

.header {
    position: fixed;
    width: 100%;
    height: 100px;
    top: 0;
    z-index: 2;
    background: none;
    color: $text-color-white;
    padding: 0px 5% ;
    transition: height 0.2s ease-in-out, transform 0.3s ease-in-out;;

    @include flex($justify-content: space-between);

    @include tablet {
        position: relative;
        background-color: white;
        height: 80px;
        justify-content: center;

       .no {
        display: none;
       }
    }

    .toggle {
        visibility: hidden;
        position: absolute;
        top: 0px;
        left: 0px;
        width: 80px;
        height: 100%;
        cursor: pointer;
        @include flex($flex-direction: column);

        span {
            color: red;
            font-size: 1.3rem;
        }

        &:hover span {
                color: $text-color-green;
            }

        @include tablet {
            visibility: visible;
        }
    }

    img {
        height: 60px;

        &.tablet {
            display: none;
        }

        @include tablet {
            &.tablet {
                display: block;
            }

            &.desktop {
                display: none;
            }
        }
    }

    nav {
        height: 100%;

        @include tablet {
            position: fixed;
            height: 100vh;
            width: 256px;
            top: 0;
            left: 0;
            transform: translate(-100%);
            background-color: $text-color-green;
        }
        ul {
                height: 100%;
                @include flex($justify-content: space-between, $gap: 10px);

                @include tablet {
                    height: auto;
                    display: block;
                }
                li {
                    height: 100%;
                    a {
                            position: relative;
                            @include flex($justify-content: center, $align-items: center);
                                align-self: center;
                            width: 100%;
                            height: 100%;
                            text-decoration: none;
                            font-weight: 700;
                            color: $text-color-white;
                            font-family: $font1;
                            text-transform: capitalize;
                            transition: color 0.2s ease-in-out;
                            padding: 0 15px;

                            &::before {
                                    content: '';
                                    background-color: red;
                                    position: absolute;
                                    top: 0;
                                    width: 100%;
                                    height: 3px;
                                    transition: transform ease-in-out 0.3s;
                                    transform: translateX(-100%);
                                    opacity: 0;
                            
                                }

                            @include tablet {
                                justify-content: flex-start;
                                &::before {
                                        display: none;
                                    }
                            }
                    
                        }

                        @include tablet {
                            height: 40px;
                            width: 100%;
                            border-bottom: 1px solid white;
                            padding: 30px 20px;
                        }

                    &:hover, &:active, &:focus{
                                a {
                                    color: $red-color;
                                    
                                        &::before {
                                            opacity: 1;
                                            transform: translateX(0);
                                        }

                                    @include tablet {
                                        color: white;
                                    }
                                }
                            }
                    &:nth-child(2), &:nth-child(3){
                        position: relative;

                        a {
                            display: flex;
                            align-items: center;

                            @include tablet {
                                justify-content: space-between;
                            }

                            span {
                                display: none;

                                @include tablet {
                                    display: block;
                                }
                            }
                        }
                        ul {
                            position: absolute;
                                @include flex ($flex-direction: column, $gap: 0);
                                padding: 20px 0;
                                width: 300px;
                                background-color: white;
                                border-radius: 10px;
                                height: max-content;
                                color: $text-color-brown;
                                font-family: $font1;
                                font-weight: 600;
                                visibility: hidden;

                                li {
                                    width: 100%;
                                    position: relative;
                                    height: 50px;
                                    padding: 0 30px;
                                    cursor: pointer;
                                    @include flex($align-items: center, $justify-content: flex-start);

                                    p {
                                        transition: transform 0.3s ease-in-out;
                                        transform: translate(0px, 20px);
                                    }

                                    &:hover {
                                        background-color: $light-brown-color;
                                        color: $text-color-white;
                                        p {
                                            transform: translateX(20px);
                                        }
                                    }
                                }
                            }
                        &:hover, &:focus {
                            ul {
                                visibility: visible;
                                p {
                                    transform: translate(0px, 0px)
                                }
                            }
                        }

                        @include tablet {
                            
                            &:hover,
                                &:focus {
                                    ul {
                                        visibility: hidden;
                            
                                        p {
                                            transform: translate(0px, 0px)
                                        }
                                    }
                                }

                            ul.location, ul.category {
                                    visibility: visible;
                                    display: block;
                                    padding: 0;
                                    top: 100%;
                                    left: 0;
                                    background-color: $text-color-green;
                                    color: white;
                                    width: 100%;
                                    z-index: 1;

                                    li {
                                        padding: 0 50px;
                                        height: 60px;
                                    }
                            
                                    p {
                                        transform: translate(0px, 0px)
                                    }
                                }
                            
                        }
                    }
                }
            }
    }

    p {
        a {
                text-decoration: none;
                color: $text-color-white;
                @include flex($gap: 5px);
                font-size: 17px;
                font-family: $font1;
                
            }

        span {
            transition: color ease-in-out 0.3s;
            font-weight: 700;
        }

        &:hover {
            span {
                color: $red-color;
                
            }
        }
    }
}

.header.active {
    background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255,
        255,
        255,
        0.9));
    height: 80px;

    a {
        color: $text-color-black;

        @include tablet {
            color: white
        }
    };

    li:hover {
        a {
                color: $text-color-green;
        
                &::before {
                    background-color: $text-color-green;
                }
            }
    }
}

.header.tablet {
    @include tablet {
        transform: translateX(250px);
    }    
}

.scrolltop {
    position: fixed;
    bottom: 10px;
    right: 20px;
    @include flex($justify-content: space-between, $gap: 10px);
    transform: translateX(100%);
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    z-index: 2;

    button {
        background-color: white;
        color: $text-color-brown;
        border-radius: 10px;
        padding: 20px;
        outline: none;
        border: none;
        cursor: pointer;
        font-size: 1rem;
        font-weight: 700;
        transition: color 0.3s ease-in-out;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);

        &:hover, &:focus, &:active{
            color: $text-color-green;
        }
    }
}

.scrolltop.active {
    visibility: visible;
    opacity: 1;
    transform: translateX(0%);
}