@import "../../styles/mixins";
@import "../../styles/theme";

.hero {
    position: relative;
    height: 100vh;
    color: $text-color-white;
    padding: 0 10vw;
    text-align: center;
    @include flex($gap: 30px, $flex-direction: column, $justify-content:center, $align-items:center);

    @include tablet {
        padding: 0;
        height: 80vh;
    }

    @include mobile {
        height: 90vh;
    }

    h1 {
        font-size: 73px;
        font-weight: 500;
        opacity: 0;
        transition: opacity 0.8s ease-in-out;

        @include mobile {
        font-size: 50px;
        }
    }

    h1.active {
        opacity: 1;
    }

    h2 {
        font-size: 22px;
        font-weight: 400;
    }

    @include mobile {
        @include flex($gap: 10px, $flex-direction: column);
    }
    @include tablet {
        @include flex($gap: 10px, $flex-direction: column);
    }

    video {
        width: 100%;
        height: 100%;
        position: absolute;
        inset: 0;
        object-fit: cover;
        z-index: -1;
        will-change: transform;
        transform: translateZ(0);
        backface-visibility: hidden;
        background-color: darkgray;
    }

    .gradient {
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(rgba(0,0,0,0.4), rgba(0, 0, 0, 0.4));
        z-index: -1;
    }
    
    .btns {
        margin-top: 20px;
        padding: 0 200px;
        width: 80%;
        @include flex($justify-content: space-between);

        @include tablet {
        padding: 0 100px;
        width: 90%;
            }
        
            @include mobile {
        padding: 0;
        width: 95%;
            }

        a {
            text-decoration: none;
            color: $text-color-white;
            padding: 15px 50px;
            border: 1px solid white;
            border-radius: 4px;
            font-size: 1.1rem;
            font-weight: 600;
            transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;

            &:hover {
                background-color: $text-color-white;
                color: $text-color-black;
            }
        }
    }
}

.buildingCard {
    background: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url("/background.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    @include flex ($flex-direction: column, $gap: 30px);
    padding: 50px 10vw;

    @include tablet {
        padding: 50px 20px;
    }
    
        @include mobile {
            padding: 100px 10px;

            h1 {
                text-align: center;
            }
        }

    .first {
        text-align: center;
        padding: 0 250px;
        font-size: 1.3rem;
        @include tablet {
            padding: 0;
        }
        
            @include mobile {}
    }

    .cards {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 35px;

        @include tablet {
            grid-template-columns: repeat(2, 1fr);
            gap: 20px;
        }
        
            @include mobile {
                grid-template-columns: 1fr;
                gap: 10px;
            }
    }

    button {
        padding: 15px 25px;
        border: 1px solid $text-color-green;
        border-radius: 5px;
        background-color: transparent;
        margin-top: 20px;
        color: $text-color-white;
        font-size: 1rem;
        font-weight: 700;
        font-family: $font1;
        transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
        position: relative;
        cursor: pointer;
        z-index: 1;
        overflow: hidden;

        @include tablet {}
        
            @include mobile {
                width: 100%;
                margin-top: 0px;
            }

        &::after {
            content: "";
            position: absolute;
            z-index: -1;
            inset: 0;
            width: 100%;
            height: 100%;
            background-color: $text-color-green;
            transition: transform 0.3s ease-in-out;
        }

        &:hover {
            color: $text-color-green;

            &::after {
                transform: translateX(100%);
            }
        }

        &.hide {
            display: none;
        }
    }
}