@mixin tablet {
    @media (max-width: 991.98px) {
        @content;
    }
}

@mixin mobile {
    @media (max-width: 575.98px) {
        @content;
    }
}


@mixin flex($justify-content: center, $flex-direction: row,  $align-items: center, $gap: 0){
    display: flex;
    flex-direction: $flex-direction;
    justify-content: $justify-content;
    align-items: $align-items;
    gap: $gap;
}