@import "../../styles/mixins";
@import "../../styles/theme";

.homePage {
    .about {
        height: 100vh;
        width: 100%;
        padding: 100px 0;
        background: linear-gradient(rgba(255,255,255,0.7), rgba(255, 255, 255, 0.7)),url("/background.jpg") no-repeat;
        background-size: cover;
        background-position: center;
        @include flex ($gap: 100px);

        @include tablet {
        padding: 20px;
        height: 75vh;
        gap: 50px;
        justify-content: flex-start;
            }
        
        @include mobile {
        height: max-content;
        flex-direction: column;
        justify-content: flex-start;
        text-align: center;
            }

        .slideshow {
                width: 40%;
                height: 600px;
                border-radius: 5px;
                overflow: hidden;
                box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
                background-color: white;

                @include tablet {
                    width: 80%;
                }

                @include mobile {
                    width: 100%;
                    height: 300px;
                }
                

                img {
                    height: 600px;

                    @include mobile {
                        height: 300px;
                    }
                }
            }
        
        .text {
            @include flex ($flex-direction: column, $gap: 30px, $align-items: flex-start);
            width: 420px;

            @include tablet {}
            
                @include mobile {
                    width: 100%;
                    align-items: center;
                }

            p {
                font-size: 1.2rem;
                font-weight: 500;
            }

            button {
                background-color: $red-color;
                border: none;
                border-radius: 2px;
                @include flex ($gap: 5px );
                padding: 18px 40px;
                color: white;
                cursor: pointer;
                font-size: 1rem;
                transition: background-color 0.2s ease-in-out;

                &:hover {
                    background-color: $light-brown-color;
                }

            }
        }
    }

    .categories, .estate {
        background: linear-gradient(rgba(255,255,255,0.7), rgba(255, 255, 255, 0.7)),url("/background.jpg") no-repeat;
        background-size: cover;
        background-position: center;
        padding: 100px 10vw;
        text-align: center;
        @include flex ($flex-direction: column, $gap: 20px, $justify-content: center, $align-items: center);

        @include tablet {
            padding: 100px 20px;
        }
        
            @include mobile {
                padding: 60px 10px;
            }
        h1 {
            color: #0fa311;
        }

        p {
            font-size: 1.5rem;
            font-weight: 600;
        }

        .categoriesCards {
            margin-top: 30px;
            width: 100%;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 15px;

            >:first-child {
                grid-column: span 2;
                @include tablet {
                    grid-column: span 1;
    
            }
        
            @include mobile {
        
            }
            }

            @include tablet {
                grid-template-columns: repeat(1, 1fr);
            }
        
            @include mobile {
        
            }
        }

        .estateCards {
            margin-top: 30px;
            width: 100%;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 15px;

            @include tablet {
                grid-template-columns: repeat(1, 1fr);
            }
            
                @include mobile {}
        }
    }

    .directors {
        @include flex($flex-direction: column, $gap: 20px);
        padding: 150px 10vw;
        background-color: white;
        margin-bottom: 400px;

        @include tablet {
            padding: 150px 20px;
            margin-bottom: 600px;
        }
        
            @include mobile {
                padding: 100px 10px;
                margin-bottom: 700px;
            }

        .h1 {
            color: $text-color-brown;
            text-align: center;
        }

        .first {
            font-size: 1.3rem;
            font-weight: 600;
            text-align: center;
        }

        .cards {
            width: 100%;
            @include flex($justify-content: space-between, $gap: 30px);

            @include tablet {}
            
                @include mobile {
                    flex-direction: column;
                }

            .clone {
                    width: 100%;
                    height: 550px;
                    padding: 8px;
                    box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.05);
                    border-radius: 8px;
                    cursor: pointer;

                    @include tablet {
                        height: 520px;
                    }
                    
                        @include mobile {
                            height: 480px;
                        }

                    .top {
                        height: 65%;
                        overflow: hidden;
                        border-radius: 8px;

                        @include tablet {
                            height: 60%;
                        }
                        
                            @include mobile {
                                height: 55%;
                            }

                        img {
                            transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
                        }
                    }

                    .bottom {
                        height: 35%;
                        padding: 15px;

                        @include tablet {
                            height: 40%;
                        }
                        
                            @include mobile {
                                height: 45%;
                            }

                        h2 {
                            transition: color 0.3s ease-in-out;
                        }

                        .p1 {
                            margin-bottom: 15px;
                            color: #7a8c94;
                        }

                        .p2 {
                            color: #97a6ae;
                            margin-bottom: 10px;
                        }

                        .icons {
                            @include flex($justify-content: space-between);
                            a {
                                color: #86929a;
                                font-size: 1rem;
                                background-color: #efefef;
                                border-radius: 50%;
                                padding: 10px;
                                display: flex;

                                &:hover {
                                        color: $text-color-green;
                                    }
                            }
                        }
                    }

                    &:hover {
                        h2 {
                            color: $text-color-green;
                        }

                        img {
                            transform: scale(1.1);
                            opacity: 0.8;
                        }
                    }
            }
        }
    }
}